/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%; }

body {
  background-color: #DAE6EB; }

#head-menu {
  width: 100%;
  height: 6rem;
  background-color: #2595BA;
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  color: #fff; }
  #head-menu .home-link {
    display: block;
    width: 21rem;
    height: 6rem; }
    #head-menu .home-link .logo-title {
      margin: 0;
      padding: 1.5rem 2rem;
      width: 17rem; }

.side-menu {
  width: 21rem;
  height: 100vh;
  background-color: #0B3645;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 1.8rem; }
  .side-menu ul {
    display: inline-block;
    list-style: none;
    width: inherit; }
    .side-menu ul li {
      width: inherit;
      height: 4rem; }
      .side-menu ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: inherit;
        height: inherit; }
        .side-menu ul li a:hover {
          background-color: #072029;
          cursor: pointer; }

.hello-screen {
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/mainback.jpg");
  background-size: cover;
  background-position: center;
  background-color: black;
  display: flex;
  flex-direction: row; }
  .hello-screen .hello-titles {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    .hello-screen .hello-titles .big-title {
      font-family: "Pacifico", cursive; }
      .hello-screen .hello-titles .big-title .first {
        color: #0B3645;
        font-size: 10rem; }
      .hello-screen .hello-titles .big-title .second {
        text-align: center;
        color: #2595BA;
        font-size: 3rem;
        padding: 1rem; }
    .hello-screen .hello-titles .shortcuts {
      width: 60rem;
      height: 20rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-bottom: 12rem; }
      .hello-screen .hello-titles .shortcuts .s-c {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        color: #fff;
        background-color: #0B3645;
        transition: 0.3s; }
        .hello-screen .hello-titles .shortcuts .s-c:hover {
          background-color: #2595BA; }
        .hello-screen .hello-titles .shortcuts .s-c .fa-list {
          font-size: 5rem;
          margin: 4.5rem 0 2rem 0; }
        .hello-screen .hello-titles .shortcuts .s-c .sc-button {
          font-family: "Quicksand", sans-serif;
          font-size: 2.2rem; }
        .hello-screen .hello-titles .shortcuts .s-c .fa-plus {
          font-size: 5.6rem;
          margin: 4.2rem 0 1.7rem 0; }
        .hello-screen .hello-titles .shortcuts .s-c .short-link {
          display: flex;
          width: inherit;
          height: inherit;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 50%; }

.add-screen {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row; }
  .add-screen .form-cont {
    width: 100%;
    height: 100vh;
    display: flex; }
    .add-screen .form-cont .form {
      width: 60rem;
      height: 68rem;
      background-color: #0B3645;
      margin: 6rem auto;
      border-radius: 1.5rem; }
      .add-screen .form-cont .form h1 {
        font-family: "Pacifico", cursive;
        text-align: center;
        color: #fff;
        font-size: 5rem;
        margin: 2rem; }

.anchor {
  text-decoration: none;
  outline: none;
  color: #fff; }

label {
  -webkit-backface-visibility: hidden; }

input, textarea, select {
  font-size: 2.2rem;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  background: none;
  background-image: none;
  border: 0.1rem solid #a0b3b0;
  color: #fff;
  border-radius: 0;
  box-sizing: border-box;
  transition: border-color .25s ease, box-shadow .25s ease; }

.first-row {
  margin: 2rem;
  position: relative; }
  .first-row .field-wrap {
    position: relative; }
  .first-row:after {
    content: "";
    display: table;
    clear: both; }
  .first-row > div {
    float: left;
    width: 48%;
    margin-right: 4%; }
    .first-row > div:last-child {
      margin: 0; }

.single-row {
  position: relative;
  margin: 4rem 2rem; }

label {
  font-family: "Quicksand", sans-serif;
  position: absolute;
  transform: translateY(0.8rem);
  left: 1.3rem;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 2.2rem; }
  label .req {
    margin: 0.2rem;
    color: #1ab188; }

label.active {
  transform: translateY(5rem);
  left: 0.2rem;
  font-size: 1.4rem; }
  label.active .req {
    opacity: 0; }

label.highlight {
  color: #fff; }

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 1.6rem 0 1rem 0;
  font-family: "Baloo Bhaina", cursive;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1rem;
  background: #2595BA;
  color: #fff;
  transition: all 0.3s ease;
  -webkit-appearance: none;
  margin: 4rem 2rem;
  box-sizing: border-box;
  line-height: 3rem; }
  .button:hover, .button:focus {
    background: #1d738f;
    cursor: pointer; }

.button-block {
  display: block;
  width: 56rem; }

option {
  color: #000; }

.list-screen {
  width: 100%;
  min-height: 100vh;
  display: flex; }
  .list-screen .list-cont {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; }

.users-table {
  margin: 4rem 1rem 1rem 1rem; }
  .users-table tr {
    font-family: "Quicksand", sans-serif; }
    .users-table tr th {
      height: 4rem;
      font-size: 1.8rem;
      color: #fff;
      box-sizing: border-box;
      background-color: #0B3645;
      border-radius: 0.2rem;
      padding: 1.1rem 0 0 0;
      margin: 0.5rem;
      position: relative; }
      .users-table tr th:hover {
        cursor: pointer; }
        .users-table tr th:hover .fa-sort {
          color: #2595BA; }
      .users-table tr th .fa-sort {
        color: #fff;
        position: absolute;
        right: 0.2rem;
        top: 1.3rem;
        font-size: 1.4rem; }
    .users-table tr .th-no {
      min-width: 8rem; }
    .users-table tr .th-first {
      min-width: 20rem; }
    .users-table tr .th-last {
      min-width: 20rem; }
    .users-table tr .th-email {
      min-width: 24rem; }
    .users-table tr .th-login {
      min-width: 15rem; }
    .users-table tr .th-pass {
      min-width: 12rem; }
    .users-table tr .th-role {
      min-width: 12rem; }
    .users-table tr .th-status {
      min-width: 10rem; }
    .users-table tr td {
      height: 2rem;
      font-size: 1.4rem;
      background-color: #fff;
      color: #000;
      box-sizing: border-box;
      border-radius: 0.3%;
      padding: 0.3rem 0 0 0.3rem; }
    .users-table tr:nth-child(even) td {
      background-color: #C3DDE8; }

.search-wrap {
  display: flex;
  flex-direction: row;
  margin-top: 6rem;
  border: 0.1rem solid #a0b3b0; }
  .search-wrap .fa-search {
    color: grey;
    width: 5rem;
    height: 5rem;
    background-color: #fff;
    font-size: 3.6rem;
    box-sizing: border-box;
    padding: 0.6rem 0.7rem; }

input#u-search {
  width: 50rem;
  height: 5rem;
  color: #000;
  background-color: #fff;
  border: none; }

/*# sourceMappingURL=main.css.map */
