<!DOCTYPE html>
<html lang="pl" ng-app="adminPanelApp">
<head>
	<meta charset="UTF-8">
	<title>Hello Admin</title>
	<script src="app\libs\jquery-3.1.1.min.js"></script>
	<script src="app\libs\angular.min.js"></script>
	<script src="js/main.js"></script>
	<script src="app\app.js"></script>
	<link rel="stylesheet" type="text/css" href="images/font-awesome-4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">  
	<link rel="icon" href="favicon-96x96.png" type="image/png"> 
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header ng-include="'header.html'"></header>
	<div class="list-screen">
		<nav ng-include="'side.html'"></nav>
		<div class="list-cont">
			<table class="users-table" ng-controller="AdminController">
			<div class="search-wrap">
				<input id="u-search" type="text" ng-model="search" placeholder="Search for a user">
				<i class="fa fa-search" aria-hidden="true"></i>

			</div>
				<thead>
					<tr>
						<th class="th-no" ng-click="order = 'number'">No.<i class="fa fa-sort" aria-hidden="true"></i>
						</th>
						<th class="th-first" ng-click="order = 'firstName'">First name<i class="fa fa-sort" aria-hidden="true"></i>
						</th>
						<th class="th-last" ng-click="order = 'lastName'">Last name<i class="fa fa-sort" aria-hidden="true"></i>
						</th>
						<th class="th-email" ng-click="order = 'email'">Email<i class="fa fa-sort" aria-hidden="true"></i>
						</th>
						<th class="th-login" ng-click="order = 'login'">Login<i class="fa fa-sort" aria-hidden="true"></i>
						</th>
						<th class="th-pass" ng-click="order = 'password'">Password<i class="fa fa-sort" aria-hidden="true"></i>
						</th>
						<th class="th-role" ng-click="order = 'role'">Role<i class="fa fa-sort" aria-hidden="true"></i>
						</th>
						<th class="th-status" ng-click="order = 'status'">Status<i class="fa fa-sort" aria-hidden="true"></i>
						</th>
						<th class="th-del">
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in users | orderBy: order | filter: search">
						<td>{{user.number}}</td>
						<td>{{user.firstName}}</td>
						<td>{{user.lastName}}</td>
						<td>{{user.email}}</td>
						<td>{{user.login}}</td>
						<td>{{user.password}}</td>
						<td>{{user.role}}</td>
						<td>{{user.status}}</td>
						<td><i class="fa fa-times" aria-hidden="true" title="delete this user" ng-click="removeUser(user)"></i>
						</td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
	
</body>
</html>