<div class="hello-titles">

	<div class="big-title">
				<p class="first">Hello Admin</p>
				<p class="second">simplify your day</p>
			</div>
			<div class="shortcuts">
				<div class="s-c">
					<a href="#/userslist" class="short-link anchor">
						<i class="fa fa-list" aria-hidden="true"></i>
						<p class="sc-button">Check users list</p>
					</a>
				</div>
				<div class="s-c">
					<a href="#/newuser" class="short-link anchor">
						<i class="fa fa-plus" aria-hidden="true"></i>
						<p class="sc-button">Add new user</p>
					</a>
				</div>
			</div>
</div>