html {
	font-size: 62.5%;
}
body {
	background-color: $main-bg;
}
#head-menu {
	width: 100%;
	height: 6rem;
	background-color: $header-c;
	font-family: $main-f;
	font-size: 3rem;
	color: #fff;
	.home-link {
		display: block;
		width: 21rem;
		height: 6rem;

		.logo-title {
		margin: 0;
		padding: 1.5rem 2rem;
		width: 17rem;
		}
	}
	
}
.side-menu {
	width: 21rem;
	height: 100vh;
	background-color: $side-c;
	color: #fff;
	font-family: $menu-f;
	font-size: 1.8rem;
	ul {
		display: inline-block;
		list-style: none;
		width: inherit;
		li {
			width: inherit;
			height: 4rem;
			a {
				@include centering;
				width: inherit;
				height: inherit;
				&:hover {
					background-color: $sidehover-c;
					cursor: pointer;
				}
			}
		}
	}
}
.hello-screen {
	width: 100%;
	min-height: 100vh;
	background-image: url('../images/mainback.jpg');
	background-size: cover;
	background-position: center;
	background-color: black;
	display: flex;
	flex-direction: row;
	.hello-titles {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		.big-title {
				font-family: $main-f;
			.first {
				color: $side-c;
				font-size: 10rem;

			}
			.second {
				text-align: center;
				color: $header-c;
				font-size: 3rem;
				padding: 1rem;
			}
		}
		.shortcuts {
			width: 60rem;
			height: 20rem;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			padding-bottom: 12rem;
			.s-c {
				width: 20rem;
				height: 20rem;
				border-radius: 50%;
				color: #fff;
				background-color: $side-c;
				transition: 0.3s;
				&:hover {
					background-color: $header-c;
				}
				.fa-list {
					font-size: 5rem;
					margin: 4.5rem 0 2rem 0;
				}
				.sc-button {
						font-family: $menu-f;
						font-size: 2.2rem;
				}
				.fa-plus {
					font-size: 5.6rem;
					margin: 4.2rem 0 1.7rem 0;

				}
				.short-link {
					display: flex;
					width: inherit;
					height: inherit;
					display: flex;
					flex-direction: column;
					align-items: center;
					border-radius: 50%;
				}
			}
		}
	}
}
.add-screen {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	.form-cont {
		width: 100%;
		height: 100vh;
		display: flex;
		.form {
			width: 60rem;
			height: 68rem;
			background-color: $side-c;
			margin: 6rem auto;
			border-radius: 1.5rem;
			h1 {
				font-family: $main-f;
				text-align: center;
				color: #fff;
				font-size: 5rem;
				margin: 2rem;
			}
		}
	}
}
.anchor {
	text-decoration: none;
	outline: none;
	color: #fff;
}
label {
	-webkit-backface-visibility: hidden;
}
input, textarea, select, {
  font-size: 2.2rem;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  background: none;
  background-image: none;
  border: 0.1rem solid #a0b3b0;
  color: #fff;
  border-radius: 0;
  box-sizing: border-box;
  transition:border-color .25s ease, box-shadow .25s ease;
}
.first-row {
	margin: 2rem;
	position: relative;
	.field-wrap {
		position: relative;
	}
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float:left;
    width:48%;
    margin-right:4%;
    &:last-child { 
      margin:0;
    }
  }
}
.single-row {
	position: relative;
	margin: 4rem 2rem;
}
label {
	font-family: $menu-f;
    position: absolute;
    transform: translateY(0.8rem);
    left: 1.3rem;
    color: rgba(#fff,.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 2.2rem;
    .req {
  	    margin: 0.2rem;
  	    color: #1ab188;
    }
}
label.active {
  transform:translateY(5rem);
  left: 0.2rem;
  font-size: 1.4rem;
  .req {
    opacity:0;
  }
}
label.highlight {
	color: #fff;
}
.button {
  border:0;
  outline:none;
  border-radius:0;
  padding: 1.6rem 0 1rem 0;
  font-family: $rubik-f;
  font-size: 3rem;
  font-weight: 600;
  text-transform:uppercase;
  letter-spacing:.1rem;
  background: $header-c;
  color: #fff;
  transition: all.3s ease;
  -webkit-appearance: none;
  margin: 4rem 2rem;
  box-sizing: border-box;
  line-height: 3rem;
  &:hover, &:focus {
    background: darken($header-c,10%);
    cursor: pointer;
  }
}

.button-block {
  display:block;
  width: 56rem;
  
}
option {
	color: #000;
}
.list-cont {
	width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
}